@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 700; }

.not-found-template {
  text-align: center; }
  .not-found-template .container {
    color: #2d3e4f;
    margin-top: 210px; }
    .not-found-template .container h1 {
      font-size: 160px; }
    .not-found-template .container a {
      text-decoration: none; }
    .not-found-template .container .message {
      margin-top: -14px; }
