@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
  body p {
    margin-bottom: 0px; }
  body a {
    cursor: pointer; }
    body a:hover {
      text-decoration: none; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 700; }

.menu-template {
  background-color: #f8f9fa;
  padding: 16px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; }
  .menu-template .menu-bar h4 {
    margin-bottom: 0px; }
  .menu-template .menu-bar .btn-upload {
    margin-right: 16px; }
    .menu-template .menu-bar .btn-upload span {
      line-height: 2.2rem; }
  .menu-template .menu-bar .panel {
    width: 360px;
    display: inline-block; }
    .menu-template .menu-bar .panel .btn {
      width: 100%; }
  .menu-template .menu-bar .menu-icon {
    margin-right: 10px; }

.home-template .card-container {
  margin-top: 100px;
  margin-bottom: 40px; }
  .home-template .card-container .card {
    margin-bottom: 40px; }

.home-template .comparison-slider {
  margin: 0 auto;
  width: 80%; }

.home-template .comparison-slider .comparison-after img, .home-template .comparison-slider .comparison-before img {
  z-index: 0; }

.home-template .comparison-slider .comparison-after::after {
  z-index: 1; }

.not-found-template {
  text-align: center; }
  .not-found-template .container {
    color: #2d3e4f;
    margin-top: 210px; }
    .not-found-template .container h1 {
      font-size: 160px; }
    .not-found-template .container a {
      text-decoration: none; }
    .not-found-template .container .message {
      margin-top: -14px; }
