body {
    font-family: 'Comfortaa', sans-serif; 
    margin: 0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    .view {
        margin-top: 100px;
        min-height: 90vh;
    } 
    p {
        margin-bottom: 0px;
    }
    a {
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
    .section-title {
        .icon {
            margin-top: -5px;
            margin-right: 3px;
        }
        @media (max-width: 478px) {
            padding-top: 8px;
        }
    }
    .btn {
        span {
            line-height: 2.2rem;
        }
    }
}
