.menu-template {
    background-color: $gray;
    padding: 16px 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    .menu-bar {
        .title {
            margin-bottom: 0px;
            cursor: pointer;
        }
        .btn-upload {
            margin-right: 16px;
        }
        .panel {
            width: 360px;
            display: inline-block;
            .panel-header {
                padding-bottom: 5px;
            }
            .btn {
                width: 100%;
                margin-top: 10px;
            }
        }
        .menu-icon {
            margin-right: 10px;
        }
    }
}
