.user-profile-template {
    h6 {
        margin-top: 8px;
        display: inline-block;
    }
    .profile {
        display: none;
    }
    .edit-icon {
        margin-left: 6px;
        cursor: pointer;
    }
    input {
        display: inline-block;
        width: 50%;
        margin-bottom: 10px;
    }
    .action-row {
        padding: 0 10px;
        margin-bottom: 12px;
        .delete-prompt {
            margin: 0 0px 10px 10px;
            display: inline-block;
        }
        .delete-actions {
            display: inline-block;
            button {
                width: 66px;
                i {
                    margin-right: 6px;
                }
            }
        }
    }
}
