<div class="user-upload-template">
    <div class="container grid-960">
        <div class="toast-messages text-center container grid-960">
            <div class="toast toast-error upload-error hide">
                <span><i class="icon icon-cross"></i> Error uploading post</span>
            </div>
        </div>
        <h5 class="section-title"><i class="icon icon-upload"></i> Upload</h5>
        <form class="upload-form" name="uploadForm" ng-submit="vm.submit()">
            <div class="columns">
                <div class="column col-sm-12 col-md-6">
                    <h6>Original Image</h6>
                    <div ngf-drop ngf-select ng-model="vm.upload.before.image" class="drop-box" 
                        ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                        accept="image/*" 
                        ngf-pattern="'image/*'"
                        required>
                            <span class="label" ng-if="!vm.upload.before.image">Drop image here or click to upload</span>
                            <div class="image-preview" ng-if="vm.upload.before.image">
                                <img ngf-thumbnail="vm.upload.before.image">
                                <p>Drop image here or click to replace</p>
                            </div>
                    </div>
                </div>
                <div class="column col-sm-12 col-md-6">
                    <h6>Edited Image</h6>
                    <div ngf-drop ngf-select ng-model="vm.upload.after.image" class="drop-box" 
                        ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                        accept="image/*" 
                        ngf-pattern="'image/*'"
                        required>
                            <span class="label" ng-if="!vm.upload.after.image">Drop image here or click to upload</span>
                            <div class="image-preview" ng-if="vm.upload.after.image">
                                <img ngf-thumbnail="vm.upload.after.image">
                                <p>Drop image here or click to replace</p>
                            </div>
                    </div>
                </div>
                <div class="column col-12 form-group">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-input" type="text" id="title" placeholder=" " ng-model="vm.upload.title" required/>
                </div>
                <div class="column col-12 form-group">
                    <label class="form-label" for="description">Description (optional)</label>
                    <textarea class="form-input" type="text" id="description" rows="4" ng-model="vm.upload.description"></textarea>
                </div>
                <div class="column col-12 text-center">
                    <button class="btn btn-primary btn-submit" type="submit" ng-disabled="uploadForm.$invalid"><span><i class="icon icon-check"></i> Submit Post</span></button>
                </div>
            </div>  
        </form>
    </div>
</div>
