<div ng-controller="MenuController as vm" class="menu-template">
    <div class="menu-bar container grid-960">
        <nav class="navbar">
            <section class="navbar-section">
                <h4 class="title" ui-sref="home">The Image Project</h4>
            </section>
            <section class="navbar-section">
                <button ng-if="vm.user" ui-sref="user.upload" class="btn btn-primary btn-upload hide-sm"><span><i class="icon icon-upload"></i> UPLOAD</span></button>
                <div class="dropdown dropdown-right">
                    <a id="dropdown" class="btn btn-link dropdown-toggle" tabindex="0">
                        <span ng-if="vm.user">{{vm.user.displayName}}</span>
                        <span ng-if="!vm.user">Get Started</span> <i class="icon icon-caret"></i>
                    </a>
                    <ul class="menu" ng-if="!vm.user">
                        <div class="panel text-center">
                            <div class="panel-header">
                                <div class="panel-title">
                                    <span ng-if="vm.signUpView">Create an Account</span>
                                    <span ng-if="!vm.signUpView">Welcome Back!</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form name="signUpForm" ng-submit="vm.signUp(signUpForm)" ng-if="vm.signUpView">
                                    <div class="form-group">
                                        <label class="form-label" for="signup-name">Name</label>
                                        <input class="form-input" type="text" id="signup-name" placeholder="Name" ng-model="signUpForm.name" required/>
                                        <label class="form-label" for="signup-email">Email</label>
                                        <input class="form-input" type="text" id="signup-email" placeholder="Email" ng-model="signUpForm.email" required/>
                                        <label class="form-label" for="signup-password">Password</label>
                                        <input class="form-input" type="password" id="signup-password" placeholder="Password" ng-model="signUpForm.password" required/>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">Sign Up</button>
                                </form>
                                <form name="logInForm" ng-submit="vm.logIn(logInForm)" ng-if="!vm.signUpView">
                                    <div class="form-group">
                                        <label class="form-label" for="login-email">Email</label>
                                        <input class="form-input" type="text" id="login-email" placeholder="Email" ng-model="logInForm.email" required/>
                                        <label class="form-label" for="login-password">Password</label>
                                        <input class="form-input" type="password" id="login-password" placeholder="Password" ng-model="logInForm.password" required/>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-disabled="logInForm.$invalid">Log In</button>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <p ng-if="vm.signUpView">Already have an account? <a ng-click="vm.toggleForm()">Log In</a>.</p>
                                <p ng-if="!vm.signUpView">Don't have an account? <a ng-click="vm.toggleForm()">Sign Up</a>.</p>
                            </div>
                        </div>
                    </ul>
                    <ul class="menu" ng-if="vm.user">
                        <li class="menu-item">
                            <a ui-sref="user.images"><i class="icon icon-photo menu-icon"></i>My Images</a>
                        </li>
                        <li class="menu-item show-sm">
                            <a ui-sref="user.upload"><i class="icon icon-upload menu-icon"></i>Upload</a>
                        </li>
                        <li class="menu-item">
                            <a ui-sref="user.profile"><i class="icon icon-people menu-icon"></i>Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li class="menu-item">
                            <a ng-click="vm.logOut()"><i class="icon icon-shutdown menu-icon"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
    </div>
</div>
