<div class="user-images-template">
    <div class="container grid-960">
        <div class="toast-messages text-center container grid-960">
            <div class="toast toast-success upload-success hide">
                <span><i class="icon icon-check"></i> Post Uploaded</span>
            </div>
            <div class="toast toast-success update-success hide">
                <span><i class="icon icon-check"></i> Post Updated</span>
            </div>
            <div class="toast toast-success delete-success hide">
                <span><i class="icon icon-check"></i> Post Deleted</span>
            </div>
            <div class="toast toast-error update-error hide">
                <span>Error updating post</span>
            </div>
            <div class="toast toast-error delete-error hide">
                <span>Error deleting post</span>
            </div>
        </div>
        <h5 class="section-title"><i class="icon icon-photo"></i> My Images</h5>
        <div ng-if="vm.noUserImages" class="empty">
            <div class="empty-icon">
                <i class="icon icon-photo"></i>
            </div>
            <h4 class="empty-title">You have no photos :(</h4>
            <p class="empty-subtitle">Upload one now!</p>
            <div class="empty-action">
                <button class="btn btn-primary" ui-sref="user.upload"><span><i class="icon icon-upload"></i> Upload Image</span></button>
            </div>
        </div>
        <div class="card" id="{{image.$id}}" ng-repeat="image in vm.images | orderBy : 'uploadTime' : vm.reverseSort" ng-if="image.uid === vm.user.uid" ng-init="image.editMode = false; image.deleteMode = false;">
            <div class="card-image columns">
                <div class="column col-left col-sm-12 col-md-6">
                    <img firebase-src="{{'images/'+image.before}}"/>
                </div>
                <div class="column col-right col-sm-12 col-md-6">
                    <img firebase-src="{{'images/'+image.after}}"/>
                </div>
            </div>
            <div ng-if="!image.editMode && !image.deleteMode">
                <div class="card-header">
                    <button class="btn btn-primary float-right" ng-click="vm.toggleDeleteMode(image)"><span><i class="icon icon-delete"></i></span></button>
                    <button class="btn btn-primary float-right btn-edit" ng-click="vm.toggleEditMode(image)"><span><i class="icon icon-edit"></i></span></button>
                    <h4 class="card-title">{{image.title}}</h4>
                    <h6 class="card-subtitle">Uploaded <span am-time-ago="image.uploadTime"></span></h6>
                </div>
                <div class="card-body">
                    <p>{{image.description}}</p>
                </div>
            </div>
            <div class="edit-container" ng-if="image.editMode">
                <form name="editForm" ng-model-options="{updateOn: 'submit'}" ng-submit="vm.updatePost(image);">
                    <div class="card-header">
                        <label class="form-label title-label" for="title">Title</label>
                        <input class="form-input" type="text" id="title" placeholder=" " ng-model="image.title" required/>
                    </div>
                    <div class="card-body">
                        <label class="form-label" for="description">Description (optional)</label>
                        <textarea class="form-input" type="text" id="description" rows="4" ng-model="image.description"></textarea>
                        <div class="action-row text-right">
                            <button class="btn btn-primary btn-update" type="submit" ng-disabled="editForm.$invalid"><span>Update Post</span></button>
                            <button class="btn btn-cancel" ng-click="editForm.$rollbackViewValue(); vm.toggleEditMode(image)"><span>Cancel</span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="delete-container" ng-if="image.deleteMode">
                <div class="content">
                    <p class="text-center">Are you sure you want to delete this post?</p>
                    <div class="action-row text-center">
                        <button class="btn btn-primary" ng-click="vm.deletePost(image)"><span><i class="icon icon-check"></i></span></button>
                        <button class="btn" ng-click="vm.toggleDeleteMode(image)"><span><i class="icon icon-cross"></i></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
